# Database Connection (Supabase PostgreSQL)
# Hanya butuh DATABASE_URL

# Gunakan Session mode (port 5432) untuk kompatibilitas Prisma
DATABASE_URL="postgresql://postgres.lryrzhkthqvqngvdopuy:[YOUR-PASSWORD]@aws-0-ap-southeast-1.pooler.supabase.com:5432/postgres"

# Ganti [YOUR-PASSWORD] dengan password database Supabase Anda
